.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.icon{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon h2{
  margin-left: 20px;
  color: #000;
}

nav .icon img {
  height: 15vh;
}

.link{
  text-decoration: none;
  margin: 0 15px;
}

.link.active{
  text-decoration: underline;
}
