.box {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.box .left {
  flex: 1;
  margin-right: 20px;
}

.box .left .rocket-img {
  width: 100%;
  height: auto;
}

.box .left .rocket-img img {
  width: 100%;
  height: 100%;
}

.box .right {
  flex: 3;
}
